.tailored {padding: 2.5em 1.5em 2.5em 3.75em; position: relative;}
.tailored:before {content: " "; position: absolute; top: 1.5em; left: 1.5em; z-index: -1; width: 0; height: 0; border-style: solid; border-width: 212px 212px 0 0; border-color: #f8e7b1 transparent transparent transparent;}
.tailored ul {list-style: none;}
.tailored li {padding-left: 1em; position: relative; margin: 1em 0;}
.tailored li:before {content: " "; display: block; position: absolute; top: 0.25em; left: -1em; height:1em; width:1em; background-image:url('icons/double-arrowgreensmall.svg'); background-size: contain; background-repeat: no-repeat; }

@media screen and (max-width: 768px) {
	.tailored { padding: 2.5em 2em 2.5em 2em; }
	.tailored:before {top: 1em; left: 1em;}
	.tailored ul {text-align: left;}
}